.musicLayer {
    padding: 0 2rem;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    gap: 1.5rem;
}

.lyricContainer {
    background-color: white;
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid #CCCCCC;
    color: hsl(0, 0%, 20%);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: start;
    filter: blur(0.8px);
    font-size: clamp(0.5rem, 3vw, 1rem);
}

.metadata {
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
}

.albumCover {
    border-radius: 4px;
}

.metadata .artist {
    color: hsl(0, 0%, 30%);
}